<footer class="pt-4 my-md-5 pt-md-5 border-top">
  <div class="row">
    <div class="col-12 col-md">
      <!-- <img class="mb-2" src="" alt="" width="24" height="24"> -->
      <small class="d-block mb-3 text-muted">© 2017-2020</small>
    </div>
    <div class="col-6 col-md">
      <h5>Características</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Asesoría online</a></li>
        <li><a class="text-muted" href="#">Administración</a></li>
        <li><a class="text-muted" href="#">Contratos</a></li>
        <li><a class="text-muted" href="#">Poderes</a></li>
        <li><a class="text-muted" href="#">Herencia y testamentos</a></li>
        <li><a class="text-muted" href="#">Marcas y franquicias</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Recursos</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Divorcios</a></li>
        <li><a class="text-muted" href="#">Defensa penal</a></li>
        <li><a class="text-muted" href="#">Bienes inmuebles</a></li>
        <li><a class="text-muted" href="#">Inmigración y ciudadanía</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Acerca de</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Equipo</a></li>
        <li><a class="text-muted" href="#">Ubicaciones</a></li>
        <li><a class="text-muted" href="#">Privacidad</a></li>
        <li><a class="text-muted" href="#">Términos y condiciones</a></li>
      </ul>
    </div>
  </div>
</footer>
