<!-- Mi Cuenta 2 -->
<div class="row flex-lg-nowrap">
  <!-- <div class="col-12 col-lg-auto mb-3" style="width: 200px;">
    <div class="card p-3">
      <div class="e-navlist e-navlist--active-bg">
        <ul class="nav">
          <li class="nav-item"><a class="nav-link px-2 active" href="./overview.html"><i
                class="fa fa-fw fa-bar-chart mr-1"></i><span>Overview</span></a></li>
          <li class="nav-item"><a class="nav-link px-2" href="./users.html"><i
                class="fa fa-fw fa-th mr-1"></i><span>CRUD</span></a></li>
          <li class="nav-item"><a class="nav-link px-2" href="./settings.html"><i
                class="fa fa-fw fa-cog mr-1"></i><span>Settings</span></a></li>
        </ul>
      </div>
    </div>
  </div> -->

  <div class="col">
    <div class="row">
      <div class="col mb-3">
        <div class="card">
          <div class="card-body">
            <div class="e-profile">
              <div class="row">
                <div class="col-12 col-sm-auto mb-3">
                  <div class="mx-auto" style="width: 140px;">
                    <div class="d-flex justify-content-center align-items-center rounded"
                      style="height: 140px; background-color: rgb(233, 236, 239);">
                      <span style="color: rgb(166, 168, 170); font: bold 8pt Arial;">140x140</span>
                    </div>
                  </div>
                </div>
                <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                  <div class="text-center text-sm-left mb-2 mb-sm-0">
                    <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">John Smith</h4>
                    <p class="mb-0">@johnny.s</p>
                    <!-- <div class="text-muted"><small>Last seen 2 hours ago</small></div> -->
                    <div class="mt-2">
                      <button class="btn btn-dark" type="button">
                        <i class="fa fa-fw fa-camera"></i>
                        <span> Cambiar Foto</span>
                      </button>
                    </div>
                  </div>
                  <div class="text-center text-sm-right">
                    <span class="badge badge-secondary">asesor</span>
                    <div class="text-muted"><small>Se unió el 09/Dic/2017</small></div>
                  </div>
                </div>
              </div>
              <div>
                <tabset>
                  <tab heading="Mis Datos" class="pt-3">
                    <form class="form" novalidate="">
                      <div class="row">
                        <div class="col">
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label>Nombre</label>
                                <input class="form-control" type="text" name="nombre" value="John Smith">
                              </div>
                            </div>
                            <div class="col">
                              <div class="form-group">
                                <label>Apellidos</label>
                                <input class="form-control" type="text" name="apellido" value="johnny.s">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label>Correo Electrónico</label>
                                <input class="form-control" type="text">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col mb-3">
                              <div class="form-group">
                                <label>Descripción</label>
                                <textarea class="form-control" rows="5"></textarea>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col d-flex justify-content-end">
                          <button class="btn btn-dark" type="button">Actualizar</button>
                        </div>
                      </div>
                    </form>
                  </tab>
                  <tab heading="Contraseña" class="pt-3">
                    <form class="form" novalidate="">
                      <div class="row">
                        <div class="col-12 col-sm-6 mb-3 mx-auto">
                          <div class="mb-2"><b>Cambiar Contraseña</b></div>
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label>Contraseña Actual</label>
                                <input class="form-control" type="password" placeholder="••••••••">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label>Nueva Contraseña</label>
                                <input class="form-control" type="password" placeholder="••••••••">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label>Cofirmar <span class="d-none d-xl-inline">Contraseña</span></label>
                                <input class="form-control" type="password" placeholder="••••••••"></div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col d-flex justify-content-end">
                              <button class="btn btn-dark" type="button">Actualizar Contraseña</button>
                            </div>
                          </div>
                        </div>
                        <!-- <div class="col-12 col-sm-5 offset-sm-1 mb-3">
                          <div class="mb-2"><b>Keeping in Touch</b></div>
                          <div class="row">
                            <div class="col">
                              <label>Email Notifications</label>
                              <div class="custom-controls-stacked px-2">
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" id="notifications-blog"
                                    checked="">
                                  <label class="custom-control-label" for="notifications-blog">Blog posts</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" id="notifications-news"
                                    checked="">
                                  <label class="custom-control-label" for="notifications-news">Newsletter</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" class="custom-control-input" id="notifications-offers"
                                    checked="">
                                  <label class="custom-control-label" for="notifications-offers">Personal Offers</label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div> -->
                      </div>
                    </form>
                  </tab>
                </tabset>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-12 col-md-3 mb-3">
        <div class="card mb-3">
          <div class="card-body">
            <div class="px-xl-3">
              <button class="btn btn-block btn-secondary">
                <i class="fa fa-sign-out"></i>
                <span>Logout</span>
              </button>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h6 class="card-title font-weight-bold">Support</h6>
            <p class="card-text">Get fast, free help from our friendly assistants.</p>
            <button type="button" class="btn btn-dark">Contact Us</button>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>


<!-- Mi Cuenta 2 -->
<!-- <div class="row">
  <div class="col-md-3 ">
    <div class="list-group ">
      <a href="#" class="list-group-item list-group-item-action list-group-item-light active">Dashboard</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-light">User Management</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-light">Used</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-light">Enquiry</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-light">Dealer</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-light">Media</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-light">Post</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-light">Category</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-light">New</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-light">Comments</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-light">Appearance</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-light">Reports</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-light">Settings</a>
    </div>
  </div>
  <div class="col-md-9">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <h4>Mi Cuenta</h4>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <form>
              <div class="form-group row">
                <label for="username" class="col-4 col-form-label">User Name*</label>
                <div class="col-8">
                  <input id="username" name="username" placeholder="Username" class="form-control here"
                    required="required" type="text">
                </div>
              </div>
              <div class="form-group row">
                <label for="name" class="col-4 col-form-label">First Name</label>
                <div class="col-8">
                  <input id="name" name="name" placeholder="First Name" class="form-control here" type="text">
                </div>
              </div>
              <div class="form-group row">
                <label for="lastname" class="col-4 col-form-label">Last Name</label>
                <div class="col-8">
                  <input id="lastname" name="lastname" placeholder="Last Name" class="form-control here" type="text">
                </div>
              </div>
              <div class="form-group row">
                <label for="text" class="col-4 col-form-label">Nick Name*</label>
                <div class="col-8">
                  <input id="text" name="text" placeholder="Nick Name" class="form-control here" required="required"
                    type="text">
                </div>
              </div>
              <div class="form-group row">
                <label for="select" class="col-4 col-form-label">Display Name public as</label>
                <div class="col-8">
                  <select id="select" name="select" class="custom-select">
                    <option value="admin">Admin</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="email" class="col-4 col-form-label">Email*</label>
                <div class="col-8">
                  <input id="email" name="email" placeholder="Email" class="form-control here" required="required"
                    type="text">
                </div>
              </div>
              <div class="form-group row">
                <label for="website" class="col-4 col-form-label">Website</label>
                <div class="col-8">
                  <input id="website" name="website" placeholder="website" class="form-control here" type="text">
                </div>
              </div>
              <div class="form-group row">
                <label for="publicinfo" class="col-4 col-form-label">Public Info</label>
                <div class="col-8">
                  <textarea id="publicinfo" name="publicinfo" cols="40" rows="4" class="form-control"></textarea>
                </div>
              </div>
              <div class="form-group row">
                <label for="newpass" class="col-4 col-form-label">New Password</label>
                <div class="col-8">
                  <input id="newpass" name="newpass" placeholder="New Password" class="form-control here" type="text">
                </div>
              </div>
              <div class="form-group row">
                <div class="offset-4 col-8">
                  <button name="submit" type="submit" class="btn btn-dark">Update My Profile</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
